.message {
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	height: 70%;
	overflow:auto;
}

.board {
	margin: auto;
	width: 60%;
	height: 350px;
	border:1px solid black;
	/*background-color: red;*/
}

button {
	float: right;
}

.name {
	font-size: 25px;
}
